<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <header>
        <h1>Crear usuarios</h1>
    </header>
    <form action="/login" method="post" class="registro_completo">
         
            <div class="campo">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" required />
          </div>
        
          <div class="campo">
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" name="apellido" required />
          </div>

            <div class="nombre-contraseña">
                <div class="campo">
                    <label for="correo">Correo electrónico</label>
                    <input type="email" id="correo" name="correo" placeholder="tu@correo.com">

                </div>

                <div class="recordar">
                    <input type="checkbox" id="recordar" name="recordar">
                    <label for="recordar">Recordar mi sesion</label>
                </div>
                <button class="btn-iniciar" type="submit">crear<i
                        class="bi bi-arrow-right"></i></button>
             </div>
           
    </form>
</body>
</html>